<div class="container card">
  <div class="row">
    <div class="col-9">
      <h2>List of endpoints:</h2>
      <ul>
        <li>
          <a class='black-link' href="/users">
            List of users
          </a>
        </li>
        <li>
          <a class='black-link' href="/mr">
            Sample MR
          </a>
        </li>
        <li>
          <a class='black-link' href="/mrs">
            List of MRs
          </a>
        </li>
        <li>
          <a class='black-link' href="/mr.json">
            MR .json
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
