<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h2><%= @merge_requests.count %> open Merge Requests</h2>

    <% @merge_requests.each do |merge_request| %>
      <%= erb :mr, locals: { merge_request: merge_request } %>
    <% end %>
  </div>

</body>
</html>
